extends layout

block content
  .card
    .card-header
      h1.title Charity Honor
    .card-body
      p.mb-0 Donate to charities in honor of reddit comments.

  .card.mt-2
    .card-header
      h6.title.mb-0 Start a Drive
    .card-body
      form(action="/drives" method="POST")
        .form-group
          label.form-label Reddit Post or Comment
          input.form-control(type="text" placeholder="https://" name="redditPostUrl")
        //This can be turned on later
        if false
          .form-group
            label.form-label Your Reddit Username
            input.form-control(type="text")
            small.help-text Leave blank to be anonymous
        .form-group.mb-0
          button.btn.btn-lg.btn-primary Create Charity Drive

  if drives && drives.count && drives.rows && drives.rows.length
    .card.mt-2
      .card-header Recent Charity Drives
      .card-body
        ul
          each row in drives.rows
            li
              a(href="/drives/" + row.id)= row.reddit_permalink
